/*font-family: 'Hanalei Fill', cursive;

font-family: 'Permanent Marker', cursive;

font-family: 'Kaushan Script', cursive;
font-family: 'Knewave', cursive;
*/

body ,html {
	background: url("../images/action.jpg");
	    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Kaushan Script', cursive;
	font-size: 40px;
	font-style: bold;

}

#IM,#SM,#WW,#BM{

	position: relative;
	width:  200px;
	height: 300px;
    background-repeat:   no-repeat;
    background-size:     cover;

    margin-right: 28%;
    margin-left: 28%;
    padding-left: 30px;
}


#heading{

	font-family: 'Kaushan Script', cursive;
	text-align: center;
	font-size: 50px;
	font-weight: 700;
	font-style: bold;
	color: black;

}

#attackArea , #defenceArea{

	height: 310px;
	align-content: center;

}

#charPlatform{
	height: 300px;
	/*align-items: center;*/
	margin-right: 10%;
    margin-left: 10%;
    /*max-width: 100%*/
	

}

#winId, #lossId, #resetId ,.col-md-4{
	/*float: both;*/
	/*height: 40px;*/
	font-family: 'Kaushan Script', cursive;
	font-size: 40px;
	/*font-style: strong;*/
	text-align: center;
	padding-top: 10px;
	font-weight: 200;

}

#commandId {
	height: 100px;
	text-align: center;
	font-family: 'Knewave', cursive;
	font-size: 25px;
	font-weight: 200;
	padding-bottom: 20px;
	max-width: 200%;

}

#attackId , #Bar {
	height: 100px;
	text-align: center;
	font-family: 'Hanalei Fill', cursive;
	font-size: 50px;
	font-weight: 200;


}

#atkScore, #dfndScore {
	margin-left: 50%;
	margin-right: 40%;
	text-align: center;
	background-color: #eae6da;
	font-size: 25px;

}

}